alias: ostrom gui
description: ""
trigger:
  - platform: time_pattern
    minutes: "1"
    seconds: "0"
condition: []
action:
  - sequence:
      - action: ostrom.get_token
        metadata: {}
        data:
          api_key64: >-
            your_base64_api_key
      - action: ostrom.get_price
        metadata: {}
        data:
          token: "{{ states('ostrom.token') }}"
          start_offset: -1
          end_offset: 24
          my_zip: "60000"
mode: single
